.igicon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.settingsicon {
    width: 25px;
    height: 25px;
    background-color: grey;
}

.tab {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
}


